@font-face {
  font-family: "Poppins";
  src: url(Poppins.ttf) format(ttf);
}
@font-face {
  font-family: "Open Sans Light";
  src: url(OpenSans.ttf) format(ttf);
}
:root {
  --color-primary1: hsl(322, 100%, 66%);
  --color-primary2: hsl(193, 100%, 96%);
  --color-primary3: hsl(192, 100%, 9%);
  --color-primary4: hsl(208, 11%, 55%);
  --transition: 3s all linear;
  --font-size: 18px;
}
body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
button {
  cursor: pointer;
  font-family: "Open Sans Light";
}
.header {
  background-color: var(--color-primary2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.header .img-head {
  width: 100px;
  position: absolute;
  left: 30px;
  top: 30px;
}
.header .btn-head {
  border-radius: 10px;
  width: 120px;
  height: 25px;
  border: transparent;
  background-color: white;
  color: var(--color-primary3);
  font-weight: 800;
  position: absolute;
  right: 30px;
  top: 30px;
}

.bg-mobile {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 130vh;
}
.head-group {
  position: relative;
  top: 110px;
  color: var(--color-primary3);
  text-align: center;
}
.head-title {
  font-size: 27px;
  font-weight: bolder;
  line-height: 40px;
}
.head-caption {
  color: black;
  font-size: 16px;
  width: 330px;
  margin: 0 auto;
}
button[class="head-btn"] {
  width: 60%;
  height: 40px;
  background-color: var(--color-primary1);
  border-radius: 40px;
  border: transparent;
  color: white;
  margin-top: 30px;
  font-weight: 800;
}
img.img-mockup {
  width: 80%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 170px;
}

.card {
  display: grid;
  margin-top: 100px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
  width: 90%;
  border-radius: 20px;
  border: transparent;
  box-shadow: -3px -3px 10px 0.3px #ccc;
}
.cards img {
  justify-self: center;
  width: 300px;
  padding-top: 50px;
}
.cards h3,
p {
  text-align: center;
}
.cards h3 {
  font-family: "Poppins";
  font-weight: 800;
}
.cards p {
  opacity: 0.6;
}
article.box-ft {
  display: grid;
  position: relative;
  top: 110px;
  z-index: 2;
  background-color: rgb(250, 250, 250);
  box-shadow: -2px -2px 2px 0.3px #ccc;
  width: 90%;
  height: 180px;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
}

.box-ft .top-box {
  margin-top: 250px;
}

.box-ft h3 {
  padding-top: 25px;
}

article.box-ft button {
  background-color: var(--color-primary1);
  border: transparent;
  width: 60%;
  height: 48px;
  color: white;
  border-radius: 30px;
  font-weight: 900;
  font-size: 12px;
  word-spacing: 1.2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  color: white;
  background-color: var(--color-primary3);
  width: 100%;
  height: 170vh;
}
.footer img {
  width: 180px;
  height: 34px;
  margin-top: 150px;
  margin-left: 20px;
}
.footer .footer-group {
  display: flex; /* Revert to flexbox for even distribution */
  flex-direction: row;
  align-items: center; /* Center content vertically */
  margin-top: 18px;
  margin-left: 20px;
}
.footer .footer-group p {
  text-align: left;
  margin-left: 16px;
}
.footer .footer-group i {
  font-size: 20px;
  align-self: center;
  /* margin-left: 20px; */
}
.footer ul {
  list-style: none;
  margin-top: 40px;
  font-family: "Open Sans Light";
  font-weight: 800;
}
.footer li {
  margin-top: 20px;
}
.footer .footer-icons {
  text-align: center;
  cursor: pointer;
}
.footer .footer-icons i {
  width: 20px;
  height: 20px;
  border: 1.37px solid white;
  border-radius: 50%;
  padding: 7px;
  margin-left: 30px;
}
@media screen and (min-width: 1024px) {
  .header .img-head {
    width: 170px;
    height: 25px;
  }
  .header .btn-head {
    width: 180px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 1.5px 3px rgba(0, 0, 0, 0.1423),
      0 -1.5px 3px rgba(0, 0, 0, 0.1423), 1.5px 0 3px rgba(0, 0, 0, 0.1423),
      -1.5px 0 3px rgba(0, 0, 0, 0.1423);
  }
  .bg-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 67vh;
    margin-bottom: 250px;
  }
  img.img-mockup {
    width: 600px;
    height: 420px;
    margin-right: 100px;
  }
  .bg-mobile .head-group {
    margin-top: 100px;
  }
  .head-title {
    text-align: left;
    margin-left: 75px;
  }
  .head-caption {
    text-align: start;
    margin-left: 75px;
    width: 500px;
  }
  .bg-mobile .head-btn {
    width: 333px;
    height: 60px;
    margin-left: -200px;
    margin-top: 45px;
  }

  .cards .card {
    height: 350px;
    font-size: 13px;
    align-items: center;
    font-size: 20px;
  }
  .cards h3 {
    margin-bottom: 220px;
    text-align: left;
  }
  .cards img {
    justify-self: end;
    margin-right: 65px;
  }
  .cards .card {
    position: relative;
  }
  .cards p,
  .cards h3 {
    position: absolute;
    left: 100px;
  }
  .cards p {
    margin-top: 40px;
    width: 580px;
    text-align: left;
  }

  .box-ft {
    width: 45%;
    height: 200px;
  }
  .box-ft .btn-foot {
    margin-left: -40px;
  }

  .footer {
    display: flex;
  }
  footer {
    padding: 20px 0;
  }

  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .first-col {
    margin-top: 70px;
  }

  .col-md-4 {
    width: 33.33%;
  }
  .second-col .list-items-foot {
    margin-top: 205px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  .second-col .footer-icons {
    margin-right: 85px;
    position: relative;
    bottom: -212px;
  }
  li {
    margin-bottom: 10px;
  }

  .copy-right {
    text-align: center;
    margin-right: 65px;
    font-size: 14px;
    margin-top: 20px;
  }
}
